<h2><%= @restaurant.name %></p>
<h4><%= @restaurant.category %></h4>
<h4><%= @restaurant.address %></h4>
<h4><%= @restaurant.phone_number %></h4>
<h3>what our guests are saying</h3>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
<% end %>


  <h3><%= link_to "go back",  restaurants_path%></h3>
  <h3><%= link_to "add a review",  new_restaurant_review_path(@restaurant)%></h3>
